include src/**/*
include Cargo.toml
include annealers/Cargo.toml
include annealers/src/**/*
exclude annealers/target/*
include classical_solver/Cargo.toml
include classical_solver/src/**/*
exclude classical_solver/target/*
